<div class="formlogin">
  <%= flash[:danger] %>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :username, class: 'label' %>
      <%= f.text_field :username, class: 'field' %>

      <%= f.label :password, class: 'label' %>
      <%= f.password_field :password, class: 'field' %>
      <%= f.submit "Log in", class: "submit" %>
    <% end %>
    <button type="button" onclick="window.location.href='/'" class="cancelbtn">Cancel</button>
</div>
<p>New user? <%= link_to "Press here to sign up", signupnew_path %></p>