<div id="form">
    <%= form_for (@user) do |f| %>
        <%= render 'sharedviews/error_messages' %>
        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit "Create Account", class: "" %>
    <% end %>
    <div class="container" style="background-color:#f1f1f1">
     <button type="button" onclick="window.location.href='/'" class="cancelbtn">Cancel</button>
    </div>
</div>
<p>Already got an account? <%= link_to "Press here to log in", login_path %></p>