<div class="formlogin">
    <%= form_for (@user), html: { multipart: true } do |f| %>
        <%= render 'sharedviews/error_messages', object: f.object %>
        <%= f.label :username, class: 'label'%>
        <%= f.text_field :username, class: 'field' %>

        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, class: 'field' %>
        
        <%= f.label :image, class: 'label' %>
        <%= f.file_field :image, class: 'field' %>
        

        <%= f.label :password, class: 'label' %>
        <%= f.password_field :password, class: 'field' %>

        <%= f.label :password_confirmation, "Confirm Password", class: 'label' %>
        <%= f.password_field :password_confirmation, class: 'field' %>
        <%= f.submit "Create Account", class: "submit" %>
    <% end %>
    <button type="button" onclick="window.location.href='/'" class="cancelbtn">Cancel</button>
</div>
<p>Already got an account? <%= link_to "Press here to log in", login_path %></p>