<body class="page">
  <div class="roof"></div>
  <div class="hider"></div>
  <div class="logobgd"></div>
  <div class="window">   
    <div class="container">
      <div class="one">
        <div class="col-md-8">
          <% if @user.recipes.any? %>
            <ol class="recipes">
              <%= render @recipes %>
            </ol>
            <%= will_paginate @recipes %>
          <% end %>
        </div>
      </div>
      <div class="two">
        <% provide(:title, @user.username) %>
        <h1><%= @user.username %>'s cookbook</h1>
        <%= render 'sharedviews/follow_form' if logged_in? %>
        <h3>recipes (<%= @user.recipes.count %>)</h3>
        <% if logged_in? %>
          <div class="row">
            <aside class="col-md-4">
              <section class="stats">
                <%= render 'sharedviews/stats' %>
              </section>
              <section class="recipe_form">
                <%= render 'sharedviews/recipe_form' %>
              </section>
            </aside>
            <div class="col-md-8">
                <%= render 'sharedviews/feed' %>
            </div>
          </div>
        <% else %>
        <% end %>
      </div>
  </div>
</body>