<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Workspace</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1ydzJBFceqJGZFDyw3Cq4ihRcectcNdg&callback=initMap"
      type="text/javascript"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div>
      <div>
      <%= link_to home_path do %>
        <%= image_tag "logo.png", class: "logo" %>
      <% end %>
      </div>
      <% if logged_in? %>
        <div class="windowed-menu">
        <button class="menu">
          <%= link_to "Food & recipes ", foodrecipes_path %>
        </button>
        <button class="menu2">
          <%= link_to "Fitness ", fitness_path %>
        </button>
        <button class="menu3">
          <%= link_to "Community ", community_path %>
        </button>
        <button class="menu4">
          <%= link_to "Contact ", contact_path %>
        </button>
        </div>
        <div class="base">
          <div class="dropdown">
            <button class="dropbtn"><%= link_to image_tag(current_user.image.url(:small), :class => "baseprofilepic") %></button>
            <div class="dropdown-content">
              <%= link_to "Profile", current_user %>
              <%= link_to "Settings", '#' %>
              <%= link_to "Log out", logout_path, method: :delete %>
            </div>
          </div>
            <div class:"baseusername">
              <p>hi <%= current_user.username %></p>
            </div>
        </div>
        <div class="mobile-dropdown">
          <button class="mobile-dropbtn">&#8801;</button>
          <div class="mobile-dropdown-content">
            <%= link_to "Food & recipes ", foodrecipes_path %>
            <%= link_to "Fitness ", fitness_path %>
            <%= link_to "Community ", community_path %>
            <%= link_to "Contact ", contact_path %>
        </div>
      <% else %>
      <% end %>
    </div>
  <%= yield %>
